# PDFs, generate with $ npm run build
build/

# Exclude reference styles, install with $ npm install
.pandoc/

node_modules/

.DS_Store
*.swo
*.swp

.texpadtmp/

# Exclude log file when something goes wrong
npm-debug.log
